{% extends 'contacts/base.html' %}

{% block title %}Add Company{% endblock %}

{% block content %}

<h1 class="mt-5">Add Company</h1>
<form class="was-validated">
    {% csrf_token %}

    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="{{ form.comp_name.name }}">{{ form.comp_name.label }}</label>
            {{ form.comp_name }}
            <input type="text" class="form-control is-valid" id="comp_name" name="comp_name" placeholder="Name" required>
            <div class="invalid-feedback">
                Please enter a Company Name.
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="validationtaxid">Tax ID</label>
            <input type="text" class="form-control is-valid" id="validationtaxid" placeholder="12345678" required>
            <div class="invalid-feedback">
                Please enter a TaxID.
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="validationCate">Category</label>
            <input type="text" class="form-control is-valid" id="validationCate" placeholder="Category" required>
            <div class="invalid-feedback">
              Please enter Category.
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-3 mb-3">
            <label>Chairman</label>
            <input type="text" class="form-control is-valid" id="validationchm">
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="validationAdd">Address</label>
            <input type="text" class="form-control is-valid" id="validationAdd" placeholder="City" required>
            <div class="invalid-feedback">
            Please enter a Address.
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-3 mb-3">
            <label for="validationUser">Create By</label>
            <input type="text" class="form-control is-valid" id="validationuser" placeholder="----" required>
            <div class="invalid-feedback">
            Please choose a user.
            </div>
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Submit form</button>

</form>


{% endblock %}