{% extends 'contacts/base.html' %}
{% block content %}

<h1 class="mt-5">Add Company</h1>
<form class="was-validated">
    {% csrf_token %}

    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="{{ form.comp_name.name }}">{{ form.comp_name.label }}</label>
            {{ form.comp_name }}
            <div class="invalid-feedback">
                Please enter a Company Name.
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="{{ form.comp_taxid.name }}">{{ form.comp_taxid.label }}</label>
            {{ form.comp_taxid }}
            <div class="invalid-feedback">
                Please enter a TaxID.
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="{{ form.comp_catgo.name}}">{{ form.comp_catgo.label}}</label>
            {{ form.comp_catgo }}
            <div class="invalid-feedback">
              Please enter Category.
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-3 mb-3">
            <label for="{{ form.comp_leader.name }}">{{ form.comp_leader.label }}</label>
            {{ form.comp_leader }}
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="{{ form.comp_address.name }}">{{ form.comp_address.label }}</label>
            {{ form.comp_address }}
            <div class="invalid-feedback">
            Please enter a Address.
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-3 mb-3">
            <label for="{{ form.create_by.name }}">{{ form.create_by.label }}</label>
            {{ form.create_by }}
            <div class="invalid-feedback">
            Please choose a user.
            </div>
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Submit form</button>

</form>


{% endblock %}